header {
  padding-bottom: 2rem;
}

.portifolio {
  padding: 1rem 3rem;
  height: 90vh;
  margin: 5rem 0 0 0;
  flex-wrap: wrap;
}

.portifolio .swiper {
  overflow: visible;
}

.portifolio .swiper-wrapper {
  align-items: center;
}

* img {
  width: 30em;
  border-radius: 25px;
  filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0, 0.25));
}

@media screen and (max-width: 1024px) {
  .portifolio {
    height: 80vh;
  }
}
